<!--Section: Content-->
<section class="text-white text-center">

    <style>
        .md-pills .nav-link.active {
            background-color: #3f51b5;
        }
    </style>

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2 pt-5">My previous projects</h3>
    <!-- Section description -->
    <p class="text-white w-responsive mx-auto mb-3">
        A lot of these apps that you see where created from pure code, while other may have been using WordPress or Shopify for the customer choice of platform.
        With their permission, I had shown their website below to demonstrate my past work.
    </p>

    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-12">

            <!-- Nav tabs -->
            <ul class="nav md-pills flex-center flex-wrap mx-0" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-white font-weight-bold" data-toggle="tab" href="#panel31" role="tab">RECENT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" data-toggle="tab" href="#panel32" role="tab">BRANDING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold pb-4" data-toggle="tab" href="#panel33" role="tab">More</a>
                </li>
            </ul>

        </div>
        <!--First column-->

    </div>
    <!--First row-->

    <!--Tab panels-->
    <div class="tab-content">

        <!--Panel 1-->
        <div class="tab-pane fade show in active" id="panel31" role="tabpanel">

            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/brooksInsurance.png" class="img-fluid">
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        Brooks Insurance Agency /
                        <a href="https://seniorburialexpense.com/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--First column-->

                <!--Second column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/eCommerceApp.png" class="img-fluid">
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        Ecommerce Template /
                        <a href="https://ecommerce-templae.netlify.app/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--Second column-->

                <!--Third column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/dramacideKennel.png" class="img-fluid">
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        Dog Kennel /
                        <a href="https://dramacidepaws.com/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--Third column-->

            </div>
            <!--First row-->

        </div>
        <!--Panel 1-->

        <!--Panel 2-->
        <div class="tab-pane fade" id="panel32" role="tabpanel">

            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/photographyStudio.png" class="img-fluid">
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        Photographer /
                        <a href="https://sprightly-lebkuchen-61f01f.netlify.app/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--First column-->

                <!--Second column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/dogKennel.png" class="img-fluid">
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        Kennel Template /
                        <a href="https://pupexpresskennel.netlify.app/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--Second column-->

                <!--Third column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/coffeeSupplier.png" class="img-fluid" alt="Supplier Template" />
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        Supplier Template /
                        <a href="https://coffee-supplier.netlify.app/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--Third column-->

            </div>
            <!--First row-->

        </div>
        <!--Panel 2-->

        <!--Panel 3-->
        <div class="tab-pane fade" id="panel33" role="tabpanel">

            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/cateringIndia.png" class="img-fluid" alt="Supplier Template" />
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        Catering /
                        <a href="https://catering-demo-1.netlify.app/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--First column-->

                <!--Second column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/detalOffice.png" class="img-fluid" alt="Supplier Template" />
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        Dental Office /
                        <a href="https://northfolk-dental.netlify.app/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--Second column-->

                <!--Third column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <!--Featured image-->
                    <div class="view overlay zoom z-depth-2">
                        <img src="/assets/aslOnline.png" class="img-fluid" alt="Supplier Template" />
                    </div>
                    <p class="text-uppercase text-center font-weight-bold text-white my-4">
                        ASL Online /
                        <a href="https://asl-online.netlify.app/"
                           class="text-secondary font-weight-bold"
                           target="_blank">
                            Web Url <i class="far fa-arrow-alt-circle-right"></i>
                        </a>
                    </p>
                </div>
                <!--Third column-->

            </div>
            <!--First row-->

        </div>
        <!--Panel 3-->

    </div>
    <!--Tab panels-->

</section>