<div class="row justify-content-center align-items-center" style="margin-top: 40px;">
    <div class="col-md-5 mb-3">
        <h4 class="display-4">Constructing Your Template</h4>
        <p class="lead">
            While most companies provide a platform, I offer the option of pure coded apps,
            with a backend to give you the option to change out content on any or all pages.
            Hire me to build a site for you, and get your new website going fast.
        </p>
        <a href="/contact" class="btn text-white btn-blue">Get Started Now</a>
    </div>
    <div class="col-md-7 wow fadeInRight mb-3">
        <img src="https://www.360edutech.com/images/Web-Development-01.png"
             class="w-100"
             alt="coding"
        />
    </div>
</div>