<div class="row text-center justify-content-center align-items-center">
    <div class="col-md-4 wow fadeIn mb-3">
        <h3>Custom Apps</h3>
        <p>
            An Express app built with HTML5, CSS#, and JavaScript using Node as
            the server language.
        </p>
    </div>
    <div class="col-md-4 wow fadeIn mb-3">
        <h3>WordPress</h3>
        <p>
            A WordPress app built with HTML5, CSS#, and JavaScript using PHP as
            the server language.
        </p>
    </div>
    <div class="col-md-4 wow fadeIn mb-3">
        <h3>Use Shopify</h3>
        <p>
            A Shopify app built with HTML5, CSS#, and JavaScript using PHP as
            the server language.
        </p>
    </div>
</div>