<nav class="navbar navbar-expand-lg fixed-top navbar-dark rgba-blue-light">
    <a class="navbar-brand" href="/main">
        <img src="/assets/webExpress.png"
             loading="lazy"
             height="45"
             width="120"
             alt="nav logo"
        />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <% if(loggedIn){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Me</a>
            </li>
            <% if(loggedIn){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/newPost">New Post</a>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav me-auto">
            <% if(loggedIn){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/profiles">
                        Profiles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        Logout
                    </a>
                </li>
            <% } else { %>
                <li class="nav-item">
                   <a href="/register" class="nav-link">
                      Register
                   </a>
                </li>
                <li class="nav-item">
                   <a href="/login" class="nav-link">
                      Login
                   </a>
                </li>
             <% } %>
        </ul>
    </div>
</nav>