<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body class="blue-gradient-rgba">
<!--navbar-->
<%- include('layouts/navBar') -%>
<!--home intro-->

<!--main body-->
<main>
    <%- include('data/contact-form') -%>
</main>
<!--main body-->

</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>