<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body class="blue-gradient-rgba">
<%- include('layouts/navBar') -%>

<main>
    <div class="container pt-5">
        <div class="row justify-content-center align-items-center text-center flex-center d-flex mx-auto" style="height: 100vh;">
            <%- include('partials/gallery-section') -%>
        </div>
    </div>
</main>

</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>