<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body class="blue-gradient-rgba">

<%- include('layouts/navBar') -%>

<main>
    <div class="container">
        <%- include('data/singlePost-data') -%>
    </div>
</main>

</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>