<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body class="blue-gradient-rgba">

<%- include('layouts/navBar') -%>

<main class="container-lg">
    <div class="row justify-content-center align-items-center flex-center mx-auto d-flex" style="height: 100vh;">
        <%- include('data/profile-data') -%>
    </div>
</main>

</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>