<% for(i=0; i < blogs.length; i++){ %>
    <!-- Grid column -->
    <div class="col-lg-4 text-center col-md-12 mb-4">
        <!-- Featured image -->
        <div class="rounded mb-lg-0 mb-4">
            <img class="w-50"
                 src="<%= blogs[i].image %>"
                 alt="<%= blogs[i].title %>"
            />
            <a href="/post/<%= blogs[i]._id %>">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
    </div>
    <!-- Grid column -->
<% } %>